<div class="landing">
  <img class="landing__img" src="images/landing-img.png" alt="Library image" />
  <div class="landing__message">
    <h1>Meet <span>Fine</span>reads</h1>
    <p>Your new personal Library</p>
    <button class="button--yellow" onclick="location.href = '/search'">
      Get started
    </button>
  </div>
</div>
