<!doctype html>
<html lang="">
<head>
  <meta charset="utf-8">
  <title>Hacker News</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="stylesheets/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<%= erb :"components/navbar"%>
<%= yield %>
<footer>
</footer>
</body>