<nav class="navbar">
  <img class="navbar__logo" src="images/navbar-logo.png" alt="Finereads logo" />
  <ul class="navbar__link-container">
    <li><a class="navbar__link" href="/books">My books</a></li>
    <li><a class="navbar__link" href="/search">Find books</a></li>
  </ul>
</nav>
