.book-details {
  margin: 0 auto;
  max-width: 1024px;
  display: flex;
}

.book-details-img {
  margin-right: 22px;
  max-width: 153px;
}

.book-details-info {
  max-width: 455px;
}
.book-details-title {
  font-size: 20px;
  line-height: 27px;
  color: #1a202c;
}
.book-details-author {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;

  color: #4a5568;
  margin-bottom: 20px;
  display: block;
}
.book-details-description {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 20px;
  color: #1a202c;
}

.btn-buy {
  float: right;
  background: #9ae6b4;
  padding: 8px 14px;
  padding-right: 46px;
  text-decoration: none;
  color: #1a202c;
  position: relative;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
}

.btn-buy--unavailable{
    background: #bbb;
    cursor: not-allowed;
}

.btn-buy::after {
  content: "";
  position: absolute;
  right: 14px;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg width='21' height='20' viewBox='0 0 21 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.5 16C5.4 16 4.51 16.9 4.51 18C4.51 19.1 5.4 20 6.5 20C7.6 20 8.5 19.1 8.5 18C8.5 16.9 7.6 16 6.5 16ZM0.5 0V2H2.5L6.1 9.59L4.75 12.04C4.59 12.32 4.5 12.65 4.5 13C4.5 14.1 5.4 15 6.5 15H18.5V13H6.92C6.78 13 6.67 12.89 6.67 12.75L6.7 12.63L7.6 11H15.05C15.8 11 16.46 10.59 16.8 9.97L20.38 3.48C20.46 3.34 20.5 3.17 20.5 3C20.5 2.45 20.05 2 19.5 2H4.71L3.77 0H0.5ZM16.5 16C15.4 16 14.51 16.9 14.51 18C14.51 19.1 15.4 20 16.5 20C17.6 20 18.5 19.1 18.5 18C18.5 16.9 17.6 16 16.5 16Z' fill='black'/%3E%3C/svg%3E%0A");
}
