@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&family=Roboto+Slab:wght@200;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fffaf0;
  font-family: Nunito;
}

/*** LANDING STYLES ***/
.landing {
  /* Preguntar por la mejor forma de colocar las medidas */
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex: 1;
}

.landing__message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000;
}

.landing__message h1,
.landing__message p {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  margin-bottom: 23px;
}

.landing__message span {
  font-weight: 200;
}

.landing__img,
.landing__message {
  flex: 1 1 0;
}

/*** NAVBAR STYLES ***/
.navbar {
  height: 80px;
  /* Preguntar por la mejor forma de colocar las medidas */
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__link-container {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  /* Preguntar sobre medidas relativas, si son necesarias */
  width: 187px;
  display: flex;
  justify-content: space-between;
}

.navbar__link-container li {
  display: inline-block;
}

.navbar__link {
  color: #000;
  font-size: 18px;
  text-decoration: none;
}

/*** HELPERS ***/
.button--yellow {
  background: #f6ad55;
  color: #1a202c;
  padding: 12.5px;
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  border: none;
  cursor: pointer;
}

.button--yellow:hover {
  color: #f6ad55;
  background: #1a202c;
}

.my-books {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 60px;
}

.my-books_title {
  font-weight: normal;
  font-size: 36px;
  line-height: 49px;
  align-self: flex-start;
  margin-bottom: 25px;
}

.my-books_table {
  border-collapse: collapse;
  width: 70%;
  text-align: left;
}

.my-books_table th {
  font-size: 14px;
  line-height: 19px;
  color: #2d3748;
}

.my-books_table-img {
  width: 70px;
  height: 105px;
  margin-top: 12px;
  margin-bottom: 19px;
}

.my-books_table td {
  font-size: 12px;
  line-height: 16px;
  color: #1a202c;
}

.my-books_table tr {
  border-top: 1px solid rgba(113, 128, 150, 0.8);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.table-head {
  border-top: none !important;
}

.my-books_table-title {
  font-size: 14px !important;
  color: #ed8936 !important;
  max-width: 115px;
}

.my-books_table-author {
  max-width: 71px;
}

.date_added {
  margin-right: 19px;
}
